@model TestSite.Models.QuestionArea

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактировать область вопроса</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.QuestionAreaID)

        <div class="form-group">
            <label class="control-label col-md-2">Имя области вопроса:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuestionAreaName)
                @Html.ValidationMessageFor(model => model.QuestionAreaName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Обьратно к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
