@model TestSite.Models.Question

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Создать новый вопрос</h2>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.QuestionTypeID, "Тип вопроса", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("QuestionTypeID", String.Empty)
                @Html.ValidationMessageFor(model => model.QuestionTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuestionAreaID, "Область вопроса", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("QuestionAreaID", String.Empty)
                @Html.ValidationMessageFor(model => model.QuestionAreaID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Complexity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Complexity)
                @Html.ValidationMessageFor(model => model.Complexity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SolvingTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SolvingTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Points, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Points)
                @Html.ValidationMessageFor(model => model.Points)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text, "Текст вопроса", new { @class = "control-label col-md-2" })
            <div class="col-md-10 js-question-text">
                @Html.TextAreaFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text)
            </div>
        </div>

        <div class="js-content-placeholder"></div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default js-create-question-submit-btn" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Обратно к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/question-type")
}
